* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

#courses {
  margin-left: 90px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }
}

/* navbar */
.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: sans-serif;
  color: #364f6b;
  margin-left: 80px;
}

.sigmaStore {
  height: auto;
  width: 400px;
  position: absolute;
  border-radius: 20px;
  margin-left: 200px;
  margin-top: 9px;
  color: #272363;
}

.logoPng {
  height: auto;
  width: 100px;
  background-color: #272363;
  border-radius: 20px;
}

.menu {
  float: right;
  margin-right: 90px;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffff;
  z-index: 1;
  border-bottom: 2px solid #364f6b;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991.98px) {
  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }
}

.wave1 {
  position: absolute;
}

.tengah {
  text-align: center;
  width: 100%;
}

.piscok {
  height: 400px;
  width: 400px;
  margin-top: 30px;
  margin-right: 140px;
  margin-left: 100px;
}

.sosis {
  height: 400px;
  width: 400px;
  margin-right: 100px;
  margin-left: 20px;
}

a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: rgb(0, 211, 39);
  text-decoration: none;
}

a.tbl-pink {
  background: rgb(0, 211, 39);
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-pink:hover {
  background: #3f72af;
  text-decoration: none;
}
section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: #364f6b;
}

h2 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

.tengah {
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 991.98px) {
  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }
}

/* course */
.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-tutor {
  width: 20%;
  margin: 0 auto;
}

.kartu-tutor img {
  width: 80%;
  border-radius: 50%;
}

.kartu-tutor p {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
}

/* footer */
#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
  color: white;
}

.wavefoot {
  position: absolute;
  z-index: -1;
  top: auto;
}

.logfoot {
  display: flex; /* Mengaktifkan flexbox */
  justify-content: center; /* Pusatkan secara horizontal */
  align-items: center; /* Pusatkan secara vertikal */
}

.logofoot {
  justify-content: center;
  text-align: center;
  height: auto;
  margin-top: 100px;
  width: 300px;
  background-color: #272363;
  border-radius: 20px;
}

/* contact */
#contact {
  background: #0099ff;
  padding: 20px 0px 20px 0px;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

/* partners */
.partner-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
}

.kartu-partner {
  width: 20%;
  margin: 0 auto;
}

.kartu-partner img {
  width: 150px;
  border-radius: 50%;
}

/* tutors */
.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-tutor {
  width: 20%;
  margin: 0 auto;
}

.kartu-tutor img {
  width: 80%;
  border-radius: 50%;
}

.kartu-tutor p {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
}

/* Home.css */

/* ourMenu */
.about1 {
  justify-content: center;
  text-align: center;
  background-color: #272363; /* Warna background */
  padding: 10px; /* Tambahkan padding lebih untuk ruang dalam */
  width: 250px; /* Lebar tetap untuk kolom */
  margin: 20px auto; /* Memusatkan elemen secara horizontal */
  border-radius: 30px; /* Opsional: Membuat sudut kolom lebih lembut */
  color: white; /* Warna teks putih untuk kontras dengan latar belakang */
  cursor: default;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}

/* Style untuk menu section */
.ourMenu {
  justify-content: center;
  text-align: center;
  background-color: #272363; /* Warna background */
  padding: 20px; /* Tambahkan padding lebih untuk ruang dalam */
  width: 300px; /* Lebar tetap untuk kolom */
  margin: 20px auto; /* Memusatkan elemen secara horizontal */
  border-radius: 30px; /* Opsional: Membuat sudut kolom lebih lembut */
  color: white; /* Warna teks putih untuk kontras dengan latar belakang */
  cursor: default;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}

.ourMenu:hover {
  transform: translateY(-15px);
}

/* Style untuk menu section */
.ourMenu1 {
  justify-content: center;
  text-align: center;
  background-color: #272363; /* Warna background */
  padding: 10px; /* Tambahkan padding lebih untuk ruang dalam */
  width: 250px; /* Lebar tetap untuk kolom */
  margin: 20px auto; /* Memusatkan elemen secara horizontal */
  border-radius: 30px; /* Opsional: Membuat sudut kolom lebih lembut */
  color: white; /* Warna teks putih untuk kontras dengan latar belakang */
  cursor: default;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}

.ourMenu1:hover {
  transform: translateY(-10px);
}

.ourMenu2 {
  justify-content: center;
  text-align: center;
  background-color: #272363; /* Warna background */
  padding: 10px; /* Tambahkan padding lebih untuk ruang dalam */
  width: 300px; /* Lebar tetap untuk kolom */
  margin: 20px auto; /* Memusatkan elemen secara horizontal */
  border-radius: 30px; /* Opsional: Membuat sudut kolom lebih lembut */
  color: white; /* Warna teks putih untuk kontras dengan latar belakang */
  cursor: default;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}

.ourMenu2:hover {
  transform: translateY(-10px);
}

.menu-section {
  padding: 40px 20px;
  text-align: center;
}

.menu-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px; /* Tambahkan jarak antara judul dan card list */
  font-weight: bold;
  color: #333; /* Warna teks */
}

.card-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease;
  height: 495px;
}

.card:hover {
  transform: translateY(-15px);
}

.cardabout {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 290px;
  transition: transform 0.3s ease;
}

.cardabout p {
  padding-top: 15px;
  padding-left: 8px;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.card-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  color: #ff478d;
}

.sisa {
  color: black;
}

/* Contact Us Section */
#contact {
  padding: 1rem;
  background-color: #f8f9fa;
  text-align: center; /* Menengahkan semua teks di dalam section */
}

.contact-container {
  max-width: 800px;
  margin: 0 auto; /* Untuk menengahkan kontainer secara horizontal */
  padding: 2rem;
}

.contact-container p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.contact-options {
  display: flex;
  justify-content: center; /* Menengahkan item kontak secara horizontal */
  align-items: center; /* Menengahkan item kontak secara vertikal */
  gap: 2rem; /* Jarak antar item kontak */
}

.contact-item {
  display: flex;
  flex-direction: row; /* Mengatur logo dan teks berada dalam satu baris */
  align-items: center; /* Menyejajarkan logo dan teks secara vertikal */
  gap: 0.5rem; /* Jarak antara logo dan teks */
}

.contact-item img {
  width: 50px;
  height: auto;
}

.contact-item span {
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-item a {
  text-decoration: none;
  color: #2b2f77; /* Warna teks kontak */
  font-size: 1.1rem;
  font-weight: bold;
  display: flex; /* Agar seluruh elemen dalam link sejajar secara horizontal */
  align-items: center; /* Menyelaraskan logo dan teks secara vertikal */
}

.contact-item a:hover {
  color: #1a53ff; /* Warna teks saat di-hover */
}

.contact-icon {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem; /* Jarak antara ikon dan teks */
}
